In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
firstHalf = pd.read_csv('/home/lin/教材/MearchineLearning/assignmentOneData/48_Industry_Portfolios_daily.CSV', nrows = 24099)

In [3]:
firstHalf['Unnamed: 0'] = pd.to_datetime(firstHalf['Unnamed: 0'], format='%Y%m%d')

print( np.unique(firstHalf['Unnamed: 0']).shape, firstHalf['Unnamed: 0'].shape)

firstHalf.set_index('Unnamed: 0', inplace = True)

firstHalf.dtypes

(24099,) (24099,)

Agric    float64
Food     float64
Soda     float64
Beer     float64
Smoke    float64
Toys     float64
Fun      float64
Books    float64
Hshld    float64
Clths    float64
Hlth     float64
MedEq    float64
Drugs    float64
Chems    float64
Rubbr    float64
Txtls    float64
BldMt    float64
Cnstr    float64
Steel    float64
FabPr    float64
Mach     float64
ElcEq    float64
Autos    float64
Aero     float64
Ships    float64
Guns     float64
Gold     float64
Mines    float64
Coal     float64
Oil      float64
Util     float64
Telcm    float64
PerSv    float64
BusSv    float64
Comps    float64
Chips    float64
LabEq    float64
Paper    float64
Boxes    float64
Trans    float64
Whlsl    float64
Rtail    float64
Meals    float64
Banks    float64
Insur    float64
RlEst    float64
Fin      float64
Other    float64
dtype: object

In [4]:
firstHalf.tail()

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2017-10-25,-0.19,-0.16,-0.62,-0.59,-1.06,0.72,-0.92,-0.34,-0.27,1.12,...,-0.56,-1.73,-0.45,0.00,-0.68,-0.20,-0.02,-1.24,-0.81,-0.79
2017-10-26,0.01,-0.20,0.45,0.26,1.30,0.37,0.17,0.18,0.40,1.45,...,0.29,0.91,-0.48,0.03,1.08,0.76,0.99,1.06,0.70,0.04
2017-10-27,0.09,0.12,-0.32,-0.36,-1.10,-1.20,1.04,-0.54,-0.59,-0.57,...,-0.09,-0.26,-1.46,2.79,0.19,0.29,0.32,-0.04,-0.12,-0.55
2017-10-30,-0.35,-1.88,-0.39,-0.44,-1.24,1.38,-0.79,-0.56,-1.03,-1.14,...,-0.85,-1.17,-0.36,-0.45,0.20,-0.58,-0.58,-0.68,-0.81,-0.58
2017-10-31,0.00,2.41,0.56,1.26,0.08,-3.98,1.05,-0.22,0.53,-1.34,...,0.95,-0.45,0.97,0.01,0.08,-0.14,0.01,0.91,0.09,-0.50

In [5]:
aveEqualWeighted = pd.read_csv('/home/lin/教材/MearchineLearning/assignmentOneData/48_Industry_Portfolios_daily.CSV', skiprows = range(1 , 24104))

In [6]:
aveEqualWeighted['Unnamed: 0'] = pd.to_datetime(aveEqualWeighted['Unnamed: 0'], format='%Y%m%d')

print( np.unique(aveEqualWeighted['Unnamed: 0']).shape, aveEqualWeighted['Unnamed: 0'].shape)

aveEqualWeighted.set_index('Unnamed: 0', inplace = True)

aveEqualWeighted.dtypes

(24099,) (24099,)

Agric    float64
Food     float64
Soda     float64
Beer     float64
Smoke    float64
Toys     float64
Fun      float64
Books    float64
Hshld    float64
Clths    float64
Hlth     float64
MedEq    float64
Drugs    float64
Chems    float64
Rubbr    float64
Txtls    float64
BldMt    float64
Cnstr    float64
Steel    float64
FabPr    float64
Mach     float64
ElcEq    float64
Autos    float64
Aero     float64
Ships    float64
Guns     float64
Gold     float64
Mines    float64
Coal     float64
Oil      float64
Util     float64
Telcm    float64
PerSv    float64
BusSv    float64
Comps    float64
Chips    float64
LabEq    float64
Paper    float64
Boxes    float64
Trans    float64
Whlsl    float64
Rtail    float64
Meals    float64
Banks    float64
Insur    float64
RlEst    float64
Fin      float64
Other    float64
dtype: object

In [7]:
aveEqualWeighted.head()

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
1926-07-01,0.63,-0.28,NaN,-0.74,-0.04,-1.44,0.57,-1.27,-0.59,-0.37,...,-0.25,0.32,1.50,-0.13,-0.22,2.26,0.54,1.46,-0.14,-0.75
1926-07-02,1.03,0.11,NaN,0.09,0.40,1.46,0.18,0.00,0.17,-0.26,...,0.25,-0.52,0.00,-0.06,-0.86,0.94,-0.19,2.10,0.12,2.47
1926-07-06,-1.26,-0.12,NaN,-0.25,0.63,-0.96,0.09,4.27,-0.28,0.25,...,0.95,0.22,0.42,0.17,-0.28,0.25,0.69,-0.41,-0.02,0.66
1926-07-07,1.55,-0.43,NaN,-2.02,-0.76,-0.49,0.11,-4.10,-0.06,-0.33,...,1.05,-0.14,-7.24,-0.41,-0.72,-0.84,0.13,-2.24,-1.24,0.41
1926-07-08,0.95,1.01,NaN,-0.08,1.00,-0.49,-0.01,0.00,0.18,-0.26,...,-0.48,0.16,2.56,-0.29,-0.04,0.74,-0.83,-0.21,-0.96,-0.60

In [8]:
aveEqualWeighted.tail()

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2017-10-25,0.60,0.02,-1.05,-0.64,-1.30,-1.59,-0.86,-0.06,0.03,0.34,...,-0.55,-0.89,-0.80,-0.04,-1.28,0.11,-0.25,0.14,-0.40,-1.09
2017-10-26,0.36,-0.18,0.72,0.18,1.25,0.29,0.28,0.67,0.00,0.59,...,0.39,1.00,-0.07,0.51,1.05,0.54,1.00,0.46,0.22,0.27
2017-10-27,0.69,0.43,-0.87,-0.58,-0.66,-1.56,0.62,-0.27,-0.36,0.44,...,-0.21,0.25,-0.33,-1.04,0.41,0.49,0.58,0.15,0.34,0.72
2017-10-30,-1.99,-1.74,-1.43,-0.54,-1.58,-0.11,-1.06,-1.15,-0.95,-1.58,...,-1.42,-1.31,-0.86,-1.90,-0.54,-1.76,-0.74,-1.03,-1.25,-0.14
2017-10-31,1.29,1.42,1.18,2.55,-0.03,-2.52,0.98,0.59,0.54,-1.41,...,-1.68,0.70,0.61,-0.20,0.17,0.58,0.39,1.17,0.02,0.62

In [9]:
np.unique(aveEqualWeighted.isnull().sum() - firstHalf.isnull().sum())

array([0])

In [10]:
aveEqualWeighted.isnull().sum().max()

11903

In [11]:
firstDes = firstHalf.describe()

In [12]:
aveDes = aveEqualWeighted.describe()

In [13]:
stdDiff = firstDes[firstDes.index == 'std'] - aveDes[aveDes.index == 'std']

In [14]:
list(firstDes.index.values)

['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max']

In [15]:
negative = stdDiff[stdDiff < 0].dropna(axis = 1).sum(1)
negative

std   -3.758012
dtype: float64

In [16]:
positive = stdDiff[stdDiff > 0].dropna(axis = 1).sum(1)
positive

std    2.790376
dtype: float64

In [17]:
aveEqualWeighted.std().std()

0.44872942486088896

In [18]:
firstHalf.std().std()

0.40385067889051496

In [19]:
#At this point I decided that I'll use equal weighted returns because the std is slightly bigger and hopefully the 
#difference of std of portfolio constructed by diff regularizations will be more significant and easier to see the
#point

In [20]:
my_data = aveEqualWeighted.iloc[aveEqualWeighted.isnull().sum().max() :]

In [21]:
#I only use the part of data set that contains all 48 industries which is 44 years of data.
#In the two papers I read, one used 40 years data and the other used less than 6 years' data. Thus 44 years should be 
#a long enough time period to see the diff among differnent construction methods.

In [22]:
my_data.isnull().sum().max()

0

In [23]:
myDes = my_data.describe()
np.unique(myDes[myDes.index == 'count'])

array([12196.])

In [24]:
myDes

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
count,12196.000000,12196.000000,12196.000000,12196.000000,12196.000000,12196.000000,12196.000000,12196.000000,12196.000000,12196.000000,...,12196.000000,12196.000000,12196.000000,12196.000000,12196.000000,12196.000000,12196.000000,12196.000000,12196.000000,12196.000000
mean,0.067202,0.073054,0.077951,0.074866,0.089937,0.070885,0.084478,0.068814,0.068444,0.072521,...,0.071503,0.069165,0.074512,0.068717,0.073678,0.078147,0.076311,0.074793,0.078430,0.074094
std,1.431785,0.789361,1.332244,1.074088,1.531101,1.203933,1.180596,1.152264,0.996167,1.092468,...,1.251768,1.112666,0.962020,1.045582,1.045802,0.775586,0.997421,1.317717,0.962588,1.166395
min,-11.830000,-11.140000,-12.680000,-9.100000,-14.480000,-12.180000,-12.430000,-12.510000,-12.370000,-11.820000,...,-11.560000,-13.030000,-10.220000,-11.840000,-9.800000,-8.460000,-12.560000,-11.850000,-10.590000,-13.570000
25%,-0.700000,-0.330000,-0.630000,-0.530000,-0.610000,-0.580000,-0.510000,-0.440000,-0.410000,-0.462500,...,-0.560000,-0.470000,-0.370000,-0.380000,-0.450000,-0.260000,-0.310000,-0.570000,-0.280000,-0.440000
50%,0.040000,0.090000,0.050000,0.060000,0.060000,0.070000,0.090000,0.070000,0.090000,0.080000,...,0.070000,0.070000,0.110000,0.110000,0.100000,0.100000,0.100000,0.050000,0.110000,0.090000
75%,0.790000,0.500000,0.730000,0.650000,0.730000,0.710000,0.690000,0.580000,0.570000,0.620000,...,0.690000,0.630000,0.560000,0.570000,0.620000,0.430000,0.500000,0.680000,0.470000,0.620000
max,15.740000,9.060000,12.430000,15.130000,27.790000,15.040000,13.480000,12.960000,13.640000,14.260000,...,16.350000,9.710000,9.450000,8.900000,9.790000,8.770000,30.290000,22.280000,10.220000,12.230000

In [25]:
my_data.to_csv('/home/lin/教材/MearchineLearning/assignmentOneData/48EqualWeighted.csv')

In [27]:
%matplotlib tk

plt.plot(range(1, 49), myDes[myDes.index == 'std'].T)
plt.legend(['std'])
plt.title("std of 48 industry returns")
plt.xlabel("industires")
plt.ylabel("std of returns")
plt.grid(True)

In [28]:
plt.plot(range(1, 49), myDes[myDes.index == 'mean'].T, range(1, 49), myDes[myDes.index == 'min'].T, range(1, 49), myDes[myDes.index == 'max'].T)
plt.legend(['mean', 'min', 'max'])
plt.title("mean return of 48 industry compared with min and max")
plt.xlabel("industires")
plt.ylabel("return")
plt.grid(True)

In [28]:
myDes[myDes.index == 'std'].T

            std
Agric  1.431785
Food   0.789361
Soda   1.332244
Beer   1.074088
Smoke  1.531101
Toys   1.203933
Fun    1.180596
Books  1.152264
Hshld  0.996167
Clths  1.092468
Hlth   1.275926
MedEq  1.067485
Drugs  1.253519
Chems  1.099178
Rubbr  1.141818
Txtls  1.205369
BldMt  1.030957
Cnstr  1.416701
Steel  1.347101
FabPr  1.425140
Mach   1.123046
ElcEq  1.139191
Autos  1.255279
Aero   1.269480
Ships  1.623594
Guns   1.488472
Gold   2.401377
Mines  1.639680
Coal   2.449805
Oil    1.512401
Util   0.745871
Telcm  1.211582
PerSv  1.168510
BusSv  1.097776
Comps  1.296157
Chips  1.310944
LabEq  1.116984
Paper  1.088638
Boxes  1.251768
Trans  1.112666
Whlsl  0.962020
Rtail  1.045582
Meals  1.045802
Banks  0.775586
Insur  0.997421
RlEst  1.317717
Fin    0.962588
Other  1.166395

In [29]:
#highest coal and gold, lowest util and bank

In [30]:
myDes.loc[['min', 'max']].T

         min    max
Agric -11.83  15.74
Food  -11.14   9.06
Soda  -12.68  12.43
Beer   -9.10  15.13
Smoke -14.48  27.79
Toys  -12.18  15.04
Fun   -12.43  13.48
Books -12.51  12.96
Hshld -12.37  13.64
Clths -11.82  14.26
Hlth  -12.26  16.61
MedEq -10.70   8.83
Drugs -14.89  12.35
Chems -12.45  13.76
Rubbr -10.25  33.64
Txtls -12.90  12.70
BldMt  -9.88   9.70
Cnstr -12.43  41.40
Steel -14.16  16.06
FabPr -11.42  15.29
Mach  -11.71  11.49
ElcEq -10.14  12.14
Autos -13.50  11.12
Aero  -11.02  12.40
Ships -12.09  12.48
Guns  -17.00  22.07
Gold  -18.14  24.76
Mines -12.66  15.28
Coal  -25.75  42.32
Oil   -16.25  20.24
Util   -9.48  13.27
Telcm -10.37  12.82
PerSv -10.39   9.48
BusSv -11.28  10.74
Comps -12.64  10.82
Chips -12.18  12.23
LabEq -10.19   8.76
Paper -12.81  14.93
Boxes -11.56  16.35
Trans -13.03   9.71
Whlsl -10.22   9.45
Rtail -11.84   8.90
Meals  -9.80   9.79
Banks  -8.46   8.77
Insur -12.56  30.29
RlEst -11.85  22.28
Fin   -10.59  10.22
Other -13.57  12.23

In [31]:
myDes.loc['min'].min()

-25.75

In [32]:
myDes.loc['max'].max()

42.32

In [33]:
#Both highest max and lowest min is from coal

In [29]:
plt.plot(my_data['Coal'],linewidth = 0.5)
plt.plot(my_data['Util'], linewidth = 0.5)
plt.legend(['Coal return', 'Util return'])
plt.title("Coal and Util return compareson")
plt.xlabel("time")
plt.ylabel("returns")

Text(0,0.5,'returns')