In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.special import erf
from scipy.stats import norm
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline
#%matplotlib tk

In [57]:
result = pd.read_csv("/home/lin/git/summerProject/chkjac_vix_1.5i", header=None)
result.describe()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
count,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,...,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,0.0
mean,0.155301,0.150331,0.145865,0.141566,0.137142,0.141217,0.133189,0.124499,0.162548,0.158051,...,0.217227,0.209919,0.201343,0.232281,0.228639,0.224951,0.221645,0.220568,0.214366,NaN
std,0.061278,0.061631,0.062143,0.062950,0.064368,0.067697,0.067490,0.069644,0.060275,0.061159,...,0.092906,0.102623,0.098504,0.086962,0.068435,0.069324,0.071109,0.079602,0.076289,NaN
min,0.054446,0.045924,0.037541,0.028856,0.015282,0.000000,0.000000,0.000000,0.059168,0.050824,...,0.059128,0.009520,0.000000,0.088807,0.109526,0.103530,0.097081,0.090105,0.082643,NaN
25%,0.117056,0.103724,0.098957,0.096027,0.092775,0.098693,0.089692,0.074783,0.121409,0.115042,...,0.154941,0.149617,0.141757,0.166874,0.185370,0.177438,0.168733,0.159071,0.149835,NaN
50%,0.151181,0.147411,0.143752,0.140193,0.135761,0.139073,0.129477,0.119520,0.158517,0.152928,...,0.206062,0.199731,0.195136,0.221098,0.214911,0.212111,0.210440,0.208231,0.207406,NaN
75%,0.182150,0.177708,0.172794,0.168757,0.165945,0.175780,0.171093,0.167601,0.192359,0.188718,...,0.266635,0.255937,0.246402,0.276919,0.269535,0.266428,0.263267,0.259805,0.256385,NaN
max,0.408069,0.404473,0.401632,0.399192,0.397034,0.401225,0.383151,0.367670,0.371199,0.361121,...,0.569121,0.656250,0.594549,0.574705,0.480574,0.478879,0.477324,0.534988,0.474552,NaN

In [58]:
result.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,0.066697,0.061019,0.056125,0.051561,0.047170,0.049322,0.036750,0.023062,0.072143,0.066699,...,0.079205,0.067027,0.053361,0.096731,0.120795,0.116027,0.111126,0.105964,0.100577,NaN
1,0.076460,0.063053,0.049317,0.033884,0.015282,0.003462,0.000000,0.019000,0.083214,0.069898,...,0.091696,0.016887,0.107395,0.164753,0.190174,0.176383,0.159544,0.136913,0.101513,NaN
2,0.164135,0.159002,0.154340,0.149795,0.145100,0.129209,0.112010,0.091757,0.165026,0.160800,...,0.186585,0.169407,0.151134,0.206161,0.323276,0.294135,0.269863,0.250385,0.235526,NaN
3,0.159713,0.153943,0.148437,0.143139,0.138078,0.139073,0.126737,0.114242,0.160033,0.154974,...,0.206062,0.196071,0.185611,0.226566,0.294572,0.287289,0.278750,0.269331,0.259892,NaN
4,0.144539,0.141117,0.138007,0.135108,0.132388,0.136600,0.129916,0.123796,0.150328,0.147067,...,0.180642,0.174637,0.169072,0.191504,0.222530,0.219887,0.217266,0.214681,0.212174,NaN

In [59]:
np.array(result.iloc[1])

array([0.07646   , 0.0630533 , 0.0493167 , 0.0338841 , 0.0152824 ,
       0.00346207, 0.        , 0.0189999 , 0.0832137 , 0.0698975 ,
       0.0683455 , 0.053797  , 0.0360891 , 0.0125538 , 0.        ,
       0.0286561 , 0.104934  , 0.0922423 , 0.0790332 , 0.0641891 ,
       0.115607  , 0.0916962 , 0.0168865 , 0.107395  , 0.164753  ,
       0.190174  , 0.176383  , 0.159544  , 0.136913  , 0.101513  ,
              nan])

In [60]:
np.array(result.iloc[11])

array([0.123986 , 0.116455 , 0.10908  , 0.101649 , 0.0940678, 0.102894 ,
       0.0781458, 0.04405  , 0.138439 , 0.13124  , 0.14262  , 0.135627 ,
       0.128325 , 0.120629 , 0.0968476, 0.100283 , 0.182223 , 0.175354 ,
       0.168441 , 0.161424 , 0.213044 , 0.205521 , 0.182806 , 0.152363 ,
       0.234998 , 0.17398  , 0.16712  , 0.159753 , 0.151817 , 0.143333 ,
             nan])